.top-div {
    width: 800px;
    padding: 10px;
    margin: auto;
    text-align: right;
}

.button-create {
    width: 100px;
    padding: 10px;
    font-size: 18px;
    background: #233242;
    color: white;
    border: none;
    border-radius: 10px;
}

.button-create:hover {
    background: #2c3e51;
}

.new-card {
    color: white;
    width: 800px;
    background: #202e3c;
    border-radius: 10px;
    padding: 10px;
    margin: auto;
    margin-bottom: 10px;
}


.new-title {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
}

.new-card img {
    width: 100%;
    border-radius: 10px;
}

.new-card-info {
    color: #507194;
    font-size: 15px;
}
